@charset "utf-8";

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bbb;
}

@keyframes grayscale {
  0%, 100%  { filter: grayscale(0); }
  50% { filter: grayscale(1); }
}
@keyframes invert {
  0%  { filter: invert(0%); }
  100% { filter: invert(100%); }
}

@-webkit-keyframes grayscale {
  0%, 100%  { -webkit-filter: grayscale(0); }
  50% { -webkit-filter: grayscale(1); }
}
@-webkit-keyframes invert {
  0%  { -webkit-filter: invert(0%); }
  100% { -webkit-filter: invert(100%); }
}

@keyframes rotateHue {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }

}

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url("../img/backSea.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
  position: absolute;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}



body:after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d4d3d0;
  opacity: 1;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  z-index: -100;
}

body.background-loaded:after {
  opacity: 0;
}

.link_container {
  margin-top: 1rem;
  border-top: 5px dashed rgba(100, 100, 255, .5);
  border-bottom: 5px dashed rgba(100, 100, 255, .5);

  background: rgba(0, 0, 0, .3);
  mix-blend-mode: screen;
  -webkit-filter: blur(5px) grayscale(.5);
  filter: blur(5px) grayscale(.5);

  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.link_container:hover {
  -webkit-filter: blur(1px) grayscale(0);
  filter: blur(1px) grayscale(0);
  /*animation: rotateHue 8000ms ease-in-out infinite;*/

}

.link_list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  mix-blend-mode: exclusion;
  z-index: 10;
}
.link_list li {
  margin: 0;

}
.link_list li a {
  text-decoration: none;
  font-size: 6.5vw;
  color: blue;
  -webkit-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.link_list li a:hover {
  -webkit-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}
.link_list li a:visited {
  color: blue;
}



.main-body-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.video-wrapper {
  width: 60%;
  margin: 1.8rem auto;
  top: 50%;
  position: fixed;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /*display: flex;*/

}
.video-container {
  /*width: 100vw;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*position: absolute;*/
  /*-webkit-filter: blur(2px);*/
  /*-ms-filter: blur(2px);*/
  /*filter: blur(2px);*/
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  /*width: 60vw;*/
  border: 3px solid rgba(0, 0, 0, .5);
}

.video-frame {
  /*position: fixed;*/
  /*top: 50%;*/
  /*width: 60% !important;*/
  /*height: auto !important;*/

  /*border: 3px solid blue;*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#div_title {
  width: 25em;
  height: 25em;
  margin: 0 auto;
  /*background-color: #e2f2f6;*/
  /*background-color: #fff;*/
  background: url('../img/sheet.jpg'), no-repeat;
  padding: 1.4em;
  opacity: .9;
  border-radius: .2em;
  position: fixed;
  top: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /*box-shadow: 0 0 .1em #7397a4;*/


  -webkit-transition: opacity .5s;
  transition: opacity .5s;

  /*-webkit-filter: blur(5px);*/
  /*-ms-filter: blur(5px);*/
  /*filter: blur(5px);*/



  -webkit-transition: border .2s;
  transition: border .2s;
}

#div_title:hover {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  opacity: .9;
}

.animBorder {
  border: 5px solid #a72f0f;
}
.borderShadow {
  box-shadow: 0 0 .1em #555, 0 0 4em #a72f0f, inset 0 0 4em #a72f0f;
}

.animInvert {
  -webkit-animation: invert 1200ms;
  -webkit-filter: invert(100%);
}
.animInvertLoop {
  /*-webkit-animation: invert 2400ms infinite;
  animation: invert 2400ms infinite;*/
  filter: saturate(10);
  -webkit-filter: saturate(10);
  -moz-filter: saturate(10);

}


.animGray {
  -webkit-animation: grayscale 1200ms infinite;
  animation: grayscale 1200ms infinite;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  margin: 0;
  margin-bottom: -1.4em;
  margin-top: 9em;
  /*margin-left: .1em;*/
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .8em;
  letter-spacing: .2em;
  text-shadow: 0 0 2px #444;
  transition: text-shadow .3s;  
  -webkit-transition: text-shadow .3s;
  /*opacity: 0;*/
}
.animFont {
  text-shadow: 0 0 2px #444, -4px -4px 4px #3f7, 4px 4px 7px #3f7;
}

h2 {
  margin: 0;
  /*margin-top: .5em;*/
  margin-bottom: .2em;
  /*margin-left: .02em;*/
  color: #a72f0f;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  text-align: center;
  font-size: 4.4em;
  transform:scale(1,1.6); /* W3C */
  -webkit-transform:scale(1,1.6) translateY(.4em); /* Safari and Chrome */
  -moz-transform:scale(1,1.6); /* Firefox */
  -ms-transform:scale(1,1.6); /* IE 9 */
  -o-transform:scale(1,1.6); /* Opera */
  /*letter-spacing: .04em;*/
  text-shadow: 0 0 2px #400;
  /*-webkit-transition: text-shadow .4s;*/
  /*text-shadow: 0 0 2rem #fff;*/
  -webkit-filter: grayscale(1);
  filter: grayscale(1);


  -webkit-transition: font-size 1s, text-shadow 1s, -webkit-filter 1s;
  transition: font-size 1s, text-shadow 1s, filter 1s;

}

.animSong {
  font-size: 4.8em;
  text-shadow: 0 0 .05em #400, -.03em -.03em .05em #4c7, .14em .14em #ccc;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.small_p {
  color: #aaa;
  text-align: center;
  /*text-shadow: 0 0 1px #ccc;*/
  letter-spacing: 1em;
  font-weight: 100;
  margin-left: .5em;
  margin-top: 5em;
}
.comingSoonP {
  opacity: 0;
  color: #fff;
  text-shadow: 2px 2px 4px #3f7, -2px -2px 4px #3f7, 0 0 12px #3f7;
  transition: opacity 1s ease-in-out, font-size 1s;
  -webkit-transition: opacity 1s ease-in-out, font-size 1s;
  -moz-transition: opacity 1s ease-in-out, font-size 1s;
}
.isVisible {
  font-size: 120%;
  opacity: 1;
}
.colorize {
  color: #000;
  text-shadow: 0 0 2px #3f7;
}

.overlay_screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
}

.play_screen {
  background: none;
}

.replay_screen {
  background: rgba(255, 255, 255, .4);
  mix-blend-mode: exclusion;

}
.overlay_screen.show {
  display: flex;
}


.replay_button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.replay_button:hover {
  background: #fff;
}
.replay_button:hover i {
  color: #000;
}

.replay_button i {
  font-size: 3rem;
  color: #fff;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  opacity: .4;
  background: rgba(20, 20, 250, .8);
  border-top: 6px dotted #3f7;
  margin-top: 0px;

  -webkit-filter: blur(2px) grayscale(1);
  -moz-filter: blur(2px) grayscale(1);
  filter: blur(2px) grayscale(1);
  -webkit-transform: translateY(560px);
  -moz-transform: translateY(560px);
  -ms-transform: translateY(560px);
  -o-transform: translateY(560px);
  transform: translateY(560px);

  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  font-family: Helvetica, sans-serif;
}
footer:hover {
  -webkit-filter: blur(0px) grayscale(.8);
  -moz-filter: blur(0px) grayscale(.8);
  filter: blur(0px) grayscale(.8);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: .9;
  /*background: rgba(20, 20, 20, .8);*/


}
footer:hover .newsletter-container {
  /*margin-top: 10px;*/
}

.info-title {
  font-size: 1.4rem;
  margin: .5rem 0 0 0;
}

footer p {
  font-weight: lighter;
  font-size: 1rem;
  letter-spacing: 2px;
  text-align: center;
  color: yellow;
}

.newsletter-container {
  margin-bottom: 1rem;
}
.newsletter-container p {
  font-size: 1.4rem;
  margin-top: .2rem;
  margin-bottom: .4rem;
  height: 2rem;
}

.nl-signup {
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 3px rgba(255, 255, 255, .3);

}

.email, .button, .name {
  background: rgba(255, 255, 255, .1);
  border: 2px solid #ccc;
  height: 2rem;
  padding: 0 1rem;
  margin: 0;
  line-height: 1rem;
  box-sizing: border-box;
  font-size: .9rem;
  font-weight: lighter;
}
/*.email {*/
  /*border-top-left-radius: 5px;*/
  /*border-bottom-left-radius: 5px;*/
/*}*/
.name, .email {
  width: 140px;
}

.email {
  border-left: none;
}
.button {
  cursor: pointer;
  border-left: none;
  /*border-top-right-radius: 5px;*/
  /*border-bottom-right-radius: 5px;*/
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  background: rgba(255, 255, 255, .5);
  width: 100px;
}
.button:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.info-box {
  height: 450px;
  margin-top: -40px;
}

.info-box p {
  font-size: .8rem;
  margin: 0;
  line-height: .8rem;
  height: 1rem;
}
.info-box a {
  color: #eee;
}

.separator {
  margin: .3rem 0;
}

.contact a {
  text-decoration: dashed;
  color: #3f7;
  letter-spacing: 2px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  transition: all 100ms;
}
.contact a:hover {
  /*animation: rotateHue 4000ms infinite;*/
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  display: block;
}




@media screen and (max-width: 1024px) and (orientation: landscape) {
  .link_container {
    margin-top: 1rem;
    border: 5px dashed rgba(100, 100, 255, .5);

    background: rgba(0, 0, 0, .3);
    mix-blend-mode: screen;
    -webkit-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  .link_list li a {
    text-decoration: none;
    font-size: 6.5vh;
    color: blue;
    -webkit-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  .video-wrapper {
    width: 50vw;
    margin: 0 auto;
  }

  #div_title {
    width: 70vh;
    height: 70vh;
    box-sizing: border-box;
    margin: 1rem auto 0 auto;
    opacity: .9;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  iframe {
    width: 65vh;
    height: 65vh;
  }
  h1 {
    font-size: 4vh;
  }

  h2 {
    font-size: 12.6vh;
  }
  .info-subtitle {
    font-size: 8vh;
  }
  .animSong {
    font-size: 11.4vh;
  }

  .small_p {
    font-size: 3vh;
  }

  .comingSoonP {
    font-size: 2.5vh;
  }

  footer {
    height: 250px;
    overflow: scroll;
    /*display: block;*/
    justify-content: flex-start;
    -webkit-transform: translateY(210px);
    -moz-transform: translateY(210px);
    -ms-transform: translateY(210px);
    -o-transform: translateY(210px);
    transform: translateY(210px);
  }

  .info-box {
    display: none;
  }
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .link_container {
    margin-top: 1rem;
    border: 5px dashed rgba(100, 100, 255, .5);

    background: rgba(0, 0, 0, .3);
    mix-blend-mode: screen;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  .link_list li a {
    text-decoration: none;
    font-size: 6.5vw;
    color: blue;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  .video-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  #div_title {
    width: 90vw;
    height: 90vw;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

  iframe {
    width: 90vw;
    height: 90vw;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 13vw;
  }
  .animSong {
    font-size: 13.5vw;
  }

  .small_p {
    font-size: 3.2vw;
  }

  .comingSoonP {
    font-size: 3vw;
  }


  footer {
    height: 250px;
    overflow: scroll;
    /*display: block;*/
    justify-content: flex-start;
    -webkit-transform: translateY(210px);
    -moz-transform: translateY(210px);
    -ms-transform: translateY(210px);
    -o-transform: translateY(210px);
    transform: translateY(210px);
  }

  .info-box {
    display: none;
  }
}